Code/
chromium/
autorandr/
autostart/
awesome/
calibre/
configstore/
conky/
dconf/
filezilla/
gconf/
google-chrome/
gopass/
gtk-3.0/
htop/
Leonflix/
menus/
Microsoft/
mutt/
ObinsKit/
opera/
procps/
pulse/
qBittorrent/
rclone/
solaar/
vlc/
yay/

