Code/
chromium/
autorandr/
autostart/
awesome/
calibre/
configstore/
conky/
dconf/
filezilla/
gconf/
google-chrome/
gopass/
gtk-3.0/
htop/
Leonflix/
menus/
Microsoft/
mutt/
ObinsKit/
opera/
procps/
pulse/
qBittorrent/
rclone/
solaar/
vlc/
yay/
nvim/session
nvim/pack
expressvpn
coc
Postman
BraveSoftware
GitExtensions
QtProject.conf
skypeforlinux
teams
sys_config_files
okular*
pet
gtk-2.0
discord
sxiv
qalculate
newsboat/cache.db
newsboat/history.cmdline
newsboat/history.search
nnn

