! ~/.Xresources

! Colorscheme
#define black1        #002b36
#define black2        #073642
#define green1        #586e75
#define yellow1        #657b83
#define blue1         #839496
#define cyan1          #93a1a1
#define white1         #eee8d5
#define white2         #fdf6e3

*background:            black1
*foreground:            blue1
*fadeColor:             black1
*cursorColor:           cyan1
*pointerColorBackground:green1
*pointerColorForeground:cyan1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                black2
*color8:                black1

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               green1

!! yellow dark/light
*color3:                S_yellow
*color11:               yellow1

!! blue dark/light
*color4:                S_blue
*color12:               blue1

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               cyan1

!! white dark/light
*color7:                white1
*color15:               white2

#define FONT monospace
##define FONT inconsolata
#define SIZE 11

!!! URxvt-unicode !!!
! terminal
!URxvt.termName: screen-256color
URxvt.termName: xterm-256color
!URxvt.termName: rxvt-unicode-256color
! transparency
URxvt.transparent: false
URxvt.shading: 30
! font
URxvt*font: xft:FONT:size=SIZE:style=Regular:antialias=true
URxvt*boldFont: xft:FONT:size=SIZE:style=Bold:antialias=true
URxvt*italicFont: xft:FONT:size=SIZE:style=Regular:antialias=true
URxvt*bolditalicFont: xft:FONT:size=SIZE:style=Regular:antialias=true
URxvt.letterSpace: -1
!URxvt*highlightColor: blue1
!URxvt*highlightTextColor: blue1
! scroll
URxvt.scrollBar: false
! URxvt.scrollTtyOutput: false
! URxvt.scrollWithBuffer: true
! URxvt.scrollTtyKeyPress: true
! clipboard
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
! Settings
URxvt*internalBorder: 3
URxvt*cursorUnderline: false
URxvt*cursorBlink: false
URxvt.saveLines: 12000
!URxvt.boderLess: true
URxvt.depth: 32


! perl extensions
URxvt.perl-ext-common: default,matcher,keyboard-select,resize-font

! matcher extension: ability to open url using mouse
URxvt.matcher.button: 1
URxvt.underlineURLs: true
!URxvt.url-launcher: /usr/bin/qutebrowser
!URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-launcher: /usr/bin/firefox
URxvt.colorUL: #4682B4
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

!keyboard-select extension
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true

!!! rofi !!!
rofi.theme:solarized
